.menu-tab {
    width: 100% !important;
    background: #387ef5;
    height: 54px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
    margin-top: 44px;
}

.chat-public-screen ion-content {
    top: 100px;
}

.menu-tab li{
    float: left;
    list-style: none;
    width: 33.3333%;
    padding: 10px 6px;
    text-align: center;
    background: #387ef5;
    color: white;
    border-bottom: 3px solid #387ef5;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 0px;
}

.menu-tab li p{
    margin-bottom: 0px;
}

.menu-active {
    border-bottom: 3px solid white !important;
}

.menu-tab .icon {
    font-size: 28px;
}

.chat-public .list-message {

}       

.chat-public .enter-message {
    position: fixed;
    padding: 6px;
    padding-left: 16px;
    border: 1px solid #EAE6E6;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
}

.chat-public-screen ion-footer-bar .icon-send {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    color: #5E96F7;
}

.chat-public-screen ion-footer-bar, .chat-private-screen ion-footer-bar {
    border: 1px solid #ECECEC;
}

.item:first-child{
    border-top: none !important;
}

ion-item {
    border-color: #F1F1F1 !important;
}

.chat-private .time {
    position: absolute;
    right: 6px;
    top: 10px;
    font-size: 12px;
    color: gray;
}

.chat-private .image {
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #FB9EAB;
    text-align: center;
    line-height: 40px;
    color: white;
    font-weight: bold;
}

.chat-setting li {
    font-size: 16px;
    font-style: italic;
    color: gray;
}

.chat-private .username {
    color: gray;
}

.chat-private .message {
    font-style: italic;
}

.box-chat {
    /*height: calc(100vh - 108px) !important;*/
}

.chat-public .message .avatar, .chat-pravite-screen .message .avatar {
    width: 30px;
    height: 30px;
    background: #FF8585;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: white;
    font-weight: bold;
    float: left;
}

.chat-public .message, .chat-pravite-screen .message {
    margin-top: 10px;
    padding-left: 6px;
    position: relative;
    display: flex;
}

.chat-public .message .text, .chat-pravite-screen .message .text{
    margin-left: 10px;
    padding: 6px;
    padding-right: 10px;
    background: #F3F3F3;
    border-radius: 2px;
    margin-right: 6px;
    color: #444444;
}

.chat-public .message .text::before {
    content: '';
    color: #F3F3F3;
    position: absolute;
    top: 5px;
    left: 37px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 10px solid #F3F3F3;
}

.chat-pravite-screen .my_message .message .text::before {
    content: '';
    color: #F3F3F3;
    position: absolute;
    top: 5px;
    left: 37px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 10px solid #F3F3F3;
}

.chat-pravite-screen .your_message .message .text::before {
    content: '';
    color: #2F7EA0;
    position: absolute;
    top: 5px;
    right: 30px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid #CFEFFD;
}

.chat-pravite-screen ion-item.item {
    border: none;
    padding: 8px 10px;
}

.chat-public, .chat-setting, .chat-private {
    margin-top: 5px;
}

.bar .title {
    text-align: left;
    margin-left: 40px;
}

.bar .button-setting {
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: 10px;
    z-index: 11;
}

.bar .ion-ios-arrow-left {
    font-size: 20px;
}

.box-setting {
    width: 160px;
    z-index: 10000 !important;
    position: absolute;
    top: 54px;
    display: none;
    z-index: 9 !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
}

.box-setting .item {
    padding: 10px 16px !important;
    font-style: italic;
}

.box-setting .title-setting {
    background: #ddd;
    font-style: none;
}

.cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 8;
    display: none;
    background: rgba(0, 0, 0, 0.2);
}

.modal-backdrop, .modal-backdrop-bg {
    background: rgba(0, 0, 0, 0.5);
}

.box-setting::after {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid #DDDDDD;
    content: '';
    position: absolute;
    z-index: 9;
    top: -10px;
    left: 22px;
    z-index: 1000;
}

.enter-info-modal .title-setting{
    background: #387ef5;
    margin: -10px;
    padding: 10px;
    color: white;
    font-size: 16px;
}

.enter-info-modal .ion-ios-personadd {
    font-size: 20px;
}

.enter-info-modal {
    min-height: 50%;
    top: 20%;
}

.button {
    margin-left: 20px;
}

.enter-info-modal .list-inset {
    margin-top: 30px;
    border-top: 1px solid #DAD8D8 !important;
}

.mh-slide {
    -webkit-transform: translate3d(0, 0, 0) scale(0);
    transform: translate3d(0, 0, 0) scale(0);
    opacity: 0
    /*    transform: rotate(0deg) scale(0.761) skew(1deg) translate(0px);*/
}

.mh-slide.ng-enter, .mh-slide > .ng-enter {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}

.mh-slide.ng-enter-active, .mh-slide > .ng-enter-active {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
}

.mh-slide.ng-leave, .mh-slide > .ng-leave {
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
}

#enter-chat-message {
    width: 100%;
    padding-right: 50px;
}

.chat-list-user .list-user .avatar {
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #F3CB83;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 35px;
}

.chat-list-user .list-user {
    margin-top: 10px;
}

.chat-list-user .list-user .username {
    overflow: visible;
    margin-top: 10px;
    color: #4E4E4E;
    font-style: italic;
}

.chat-pravite-screen .enter-chat-box {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.chat-pravite-screen .icon-send {
    font-size: 24px;
    color: #387EF5;
    margin-right: 10px
}

.menu-tab .new-message {
    position: absolute;
    background: #FF6A00;
    padding: 0px 5px;
    border-radius: 50%;
    z-index: 10000;
    top: 44px;
}

.your_message .message .avatar {
    background-color: #DC62FD;
    position: absolute;
    right: 0;
}

.your_message .message .text {
    margin-left: 0px;
    margin-right: 40px;
    background-color: #CFEFFD;
}

.your_message .message {
    float: right;
}

.chat-pravite-screen ion-footer-bar .item {
    width: 100%;
    border: none;
}

.enter-chat-pravite-message {
    padding: 10px 15px;
    font-size: 20px;
    color: #387EF5;
}

.chat-pravite-screen ion-footer-bar span.icon.ion-android-send {
    color: #387EF5;
    font-size: 20px;
    padding: 10px 10px;
}

.chat-public-screen .chat-public {
    padding-bottom: 20px;
}

.icon-back {
    font-size: 24px !important;
    padding-top: 5px !important;
    padding-left: 15px !important;
}

ion-nav-bar .title {
    margin: 0 !important;
}

.chat-public-screen .scroll-content, .chat-private-screen .scroll-content {
    bottom : 44px;
}

.button-loadmore {
    position: absolute;
    z-index: 2000;
    bottom: 60vh;
    left: calc(50vw - 48px) !important;
}

.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 0.35s;
    -webkit-animation-duration: 0.35s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

@keyframes fadeIn {
    0% {
        transform: scale(0.75);
    }

    25% {
        transform: scale(0.875);
    }

    50% {
        transform: scale(1);
    }

    62.5 % {
        transform: scale(1.15);   
    }

    75% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
        
    }
}
@-webkit-keyframes fadeIn {
    0% {
        transform: scale(0.75);
    }

    25% {
        transform: scale(0.875);
    }

    50% {
        transform: scale(1);
    }

    62.5 % {
        transform: scale(1.15);   
    }

    75% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
        
    }
}

.popup-body span {
    margin-left: 20px;
}