<div id="myCategory" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tạo nhóm từ</h4>
            </div>
            <div class="modal-body">
		    	<input type="text" class="form-control" ng-model="nameCategory" placeholder="Nhập nhóm cần lưu" ng-enter="saveCategory(nameCategory);"/>
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-default"  ng-click="saveCategory(nameCategory);">Tạo</button>
			    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
			</div>
        </div>
    </div>
</div>