<div class="marketing">
    <div class="container">
      <div class="col-md-6 col-lg-6 scale">
        <h3>Tải Mazii trên</h3>
        <a href="https://itunes.apple.com/app/apple-store/id933081417" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'iphone-mobile-bottom')"><img class="app-link big" src="imgs/app_store_footer.png"></a>
        <a href="https://play.google.com/store/apps/details?id=com.mazii.dictionary" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'android-mobile-bottom')"><img class="app-link big" src="imgs/google_play.png"></a>
        <a href="https://www.microsoft.com/store/apps/9NBLGGH3TCHJ" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'wp-mobile-bottom')"><img class="app-link big" src="imgs/English_wstore_black_258x67_footer.png"></a>
        <a href="https://chrome.google.com/webstore/detail/translate-japanese-mazii/lkjffochdceoneajnigkbdddjdekhojj" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'chrome-extension-bottom')"><img class="app-link" src="imgs/chromewebstore.png"></a>
        <ul class="list-menu-footer">
          <li>
            <a href="">Kho ứng dụng từ điển tiếng Nhật</a>
          </li>
          <li>
            <a href="#about">Về Mazii</a>
          </li>
          <li>
            <a href="#help">Trợ giúp</a>
          </li>
          <li>
            <a href="#term">Điều khoản sử dụng</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="fb-page" data-href="https://www.facebook.com/maziinet/?fref=ts" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/maziinet/?fref=ts"><a href="https://www.facebook.com/maziinet/?fref=ts">Mazii.net</a></blockquote></div></div>
      </div>
    </div>
  </div>