<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="mazii" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mazii Dictionary</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="fonts/Font-Awesome-master/css/font-awesome.min.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="css/mobile.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="icon" href="imgs/favicon.ico">
</head>
<body role="document">
  <header class="app-bar promote-layer" ng-controller="HeaderController">
    <div class="app-bar-container">
      <button class="menu not-web btn-hover" ng-click="showMenuLeft()">
          <i class="fa fa-bars fa-lg"></i>
      </button>
      <span class="not-web title-page hidden-title">{{title}}</span>
      <span class="logo not-mobile">
          <img class="img-logo" src="imgs/mazii-logo.png">
          <div class="title-header">Tra cứu</div>
      </span>
      <div class="mobile-app-marketing not-mobile">
          <a href="https://itunes.apple.com/app/apple-store/id933081417" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'android-mobile-top')"><img class="app-link" src="imgs/app_store.png"></a>
          <a href="https://play.google.com/store/apps/details?id=com.mazii.dictionary" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'iphone-mobile-top')"><img class="app-link" src="imgs/google_play_white.png"></a>
          <a href="https://www.microsoft.com/store/apps/9NBLGGH3TCHJ" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'wp-mobile-top')"><img class="app-link" src="imgs/English_wstore_black_258x67.png"></a>
          <a href="https://chrome.google.com/webstore/detail/translate-japanese-mazii/lkjffochdceoneajnigkbdddjdekhojj" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'wp-mobile-top')"><img class="app-link chrome-img" src="imgs/chromewebstore.png"></a>
      </div>
      
      <section class="app-bar-actions">
          <button class="setting-global btn-hover" ng-click="showSetting()">
            <span class="fa fa-cog fa-lg"></span>
          </button>
          <div class="btn-group search-option-mobile not-web" ng-click="showHistory()"
          ng-if="showButtonHistory">
            <button class="btn btn-primary search-option-history btn-hover">
              <span class="fa fa-history fa-lg"></span>
            </button>
          </div>
      </section>
    </div>

    <div class="cover" ng-click="closePanel()"></div>
  </header>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <nav class="navbar navbar-fixed-top not-mobile">
      <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li ng-class="getState('search')">
                <a href="#/search">
                  <i class="fa fa-home fa-fw fa-lg"></i> 
                  Tra cứu
                </a>
              </li>
              <li ng-class="getState('jlpt')">
                <a href="#/jlpt">
                  <i class="fa fa-search-plus fa-fw fa-lg"></i> 
                  JLPT
                </a>
              </li>
              <li ng-class="getState('note')">
                <a href="#/note">
                  <i class="fa fa-star-half-o fa-fw fa-lg"></i> 
                  <span>Từ của tôi</span>
                </a>
              </li>
              <li ng-class="getState('news')">
                <a href="#/news">
                  <i class="fa fa-paper-plane-o fa-fw fa-lg"></i> 
                  Đọc báo
                </a>
              </li>
              <li ng-class="getState('chat')">
                <a href="#/chat">
                  <i class="fa fa-commenting-o fa-fw fa-lg"></i> 
                  Chat
                </a>
              </li>
              <li ng-class="getState('write')">
                <a href="#/write">
                  <i class="fa fa-openid fa-fw fa-lg"></i>
                  Tập viết
                </a>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
      </div>
  </nav>

  <div class="menu-left not-web">
      <ul class="list-group">
        <li class="list-group-item text-logo">
          <img src="imgs/mazii-logo.png" class="logo-mazii">
        </li>
        <li class="list-group-item">
          <a href="#search">
            <i class="fa fa-home fa-fw fa-lg"></i> 
            Tra cứu
          </a>
        </li>
        <li class="list-group-item">
          <a href="#jlpt">
            <i class="fa fa-search-plus fa-fw fa-lg"></i> 
            JLPT
          </a>
        </li>
        <li class="list-group-item">
          <a href="#note">
            <i class="fa fa-star-half-o fa-fw fa-lg"></i> 
            Từ của tôi
          </a>
        </li>
        <li class="list-group-item">
          <a href="#news">
            <i class="fa fa-paper-plane-o fa-fw fa-lg"></i> 
            Đọc báo
          </a>
        </li>
        <li class="list-group-item">
          <a href="#write">
            <i class="fa fa-openid fa-fw fa-lg"></i>
            Tập viết
          </a>
        </li>
        <li ng-class="getState('chat')">
          <a href="#/chat">
            <i class="fa fa-commenting-o fa-fw fa-lg"></i> 
            Chat
          </a>
        </li>
      </ul>
  </div>

  <div class="history-panel">
    <ng-history></ng-history>
  </div>
  
  <div class="setting-panel">
    <ng-setting></ng-setting>
  </div>

  <div class="container" id="main-contain">
      <div class="row">
          <div id="view1"> 
              <ui-view name="main"></ui-view>
          </div>
          <div id="view2">
              <ui-view name="right"></ui-view>
          </div>
          <div id="view3">
              <ui-view name="right2"></ui-view>
          </div>
      </div>
  </div>

  <div id="chat-module" class="hide-chat removed">
      <div class="chat-box-control">
          <div class="chat-title">Trò chuyện</div>
          <div class="suggest-chat-close"><i class="fa fa-times"></i></div>
      </div>
      <div class="chat-close"><i class="fa fa-times"></i></div>
      <div id="tlkio" data-channel="Mazii" style="width:100%;height:500px;"></div><script async src="http://tlk.io/embed.js" type="text/javascript"></script>
  </div>

  <ng-footer></ng-footer>

  <div class="modal fade" id="instant-search" ng-if="enableInstantView">
    <div class="modal-dialog modal-jlpt">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close close-modal-jlpt" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="tab-container">
              <div label="Từ vựng" ng-if="tabSelected == 0">
                  <div class="words-list" ng-if="words != null">
                      <ng-word ng-repeat="word in words" data="word"></ng-word>
                  </div>
                  <div class="google-translate" ng-if="words == null">
                      <ng-google-translate data="googleTranslate" ng-if="googleTranslate"></ng-google-translate>
                  </div>
                  <ng-synonyms data="googleTranslate" ng-if="googleTranslate"></ng-synonyms>
                  <div class="suggest-list widget-container" ng-if="suggest != null && suggest.length > 0">
                      <div class="suggest-title">Các từ liên quan:</div>
                      <span class="suggest-word" ng-repeat="word in suggest" ng-click="startQuery(word.word)">{{ word.word }}<span ng-if="$index < (suggest.length - 1)">, </span> </span>
                  </div>
                  <div class="no-result" ng-if="noResults">
                      Không tìm thấy từ vựng nào có liên quan tới: {{ query }}
                  </div>
              </div>
              <div label="Hán tự" ng-if="tabSelected == 1">
                  <div class="list-kanji" ng-if="kanjis != null">
                      <div class="btn-group" ng-if="kanjis.length > 1">
                          <button type="button" ng-repeat="kanji in kanjis" class="btn btn-default btn-lg draw-single-kanji" ng-click="changeKanjiShow($index);" ng-class="kanjiSeletectClass($index);">{{ kanji.kanji }}</button>
                      </div>
                      <div id="kanji-detail-result">
                          <ng-kanji data="getCurrentKanji()"></ng-kanji>
                      </div>
                  </div>
                  <div class="no-result" ng-if="noResults">
                      Không tìm thấy chữ: {{ query }}
                  </div>
              </div>
              <div label="Mẫu câu" ng-if="tabSelected == 2">
                  <div class="examples-list widget-container" ng-if="examples != null">
                      <ng-example ng-repeat="exam in examples" index="{{$index + 1}}" data="exam"></ng-example>
                  </div>
                  <div class="no-result" ng-if="noResults">
                      Không tìm thấy ví dụ nào có liên quan tới: {{ query }}
                  </div>
              </div>
              <div label="Ngữ pháp" ng-if="tabSelected == 3">
                  <div class="instant-grammar-container">
                      <ng-grammar data="grammarDetail" ng-if="grammarDetail != null"></ng-grammar>
                  </div>
                  <div class="no-result" ng-if="noResults">
                      Không tìm thấy ngữ pháp: {{ query }}
                  </div>
              </div>

          </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">Báo dữ liệu sai</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="control-label">Dữ liệu:</label>
              <input type="text" class="form-control" id="recipient-name" ng-model="report.entry">
            </div>
            <div class="form-group">
              <label for="message-text" class="control-label">Giải thích điểm sai:</label>
              <textarea class="form-control" id="message-text" ng-model="report.comment"></textarea>
              <label for="message-text" class="control-label warning" ng-if="report.comment == '' && report.noComment">Bạn hãy chỉ ra lỗi sai giúp chúng tôi!</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary" ng-click="report.send(report.comment);">Gửi</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            {{ alert.message }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirmDeleteHistoryModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Xóa lịch sử</h4>
        </div>
        <hr>
        <div class="modal-body">
          Bạn có muốn xóa toàn bộ lịch sử không ?
        </div>
        <hr>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-danger deleteHistory">Xóa</button>
        </div>
      </div>
    </div>
  </div>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    
  <script src="bower_components/raphael/raphael.js"></script>
  <script src="bower_components/wanakana/lib/wanakana.js"></script>
  <script src="libs/dmark.js"></script>
  <script src="libs/handwriter.js"></script>
  <script src="libs/parse.min.js"></script>
  <script src="libs/socket.io.js"></script>
  <script src="libs/scrollheader.js"></script>
  <script src="libs/fastclick.js"></script>
  
    
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/ngAudio/app/angular.audio.js"></script>
 
  <script src="services/localStoreServices.js"></script>
  <script src="services/noteServices.js"></script>
  <script src="services/historyServices.js"></script>
  <script src="services/searchServices.js"></script>
  <script src="services/utilServices.js"></script>
  <script src="services/authServices.js"></script>
  <script src="services/authServicesTest.js"></script>
    
  <script src="app.js"></script>
    
  <script src="components/example/example-directive.js"></script>
  <script src="components/kanji/kanji-directive.js"></script>
  <script src="components/grammar/grammar-directive.js"></script>
  <script src="components/kanji-result-search-word/kanji-result-search-word-directive.js">
  </script>
  <script src="components/word/word-directive.js"></script>
  <script src="components/setting/setting-directive.js"></script>
  <script src="components/kanji-recognize/kanji-recognize-directive.js"></script>
  <script src="components/kanji-draw/kanji-draw-directive.js"></script>
  <script src="components/history/history-directive.js"></script>
  <script src="components/notes/note-directive.js"></script>
  <script src="components/notes/note-content-directive.js"></script>
  <script src="components/notes/category-directive.js"></script>
  <script src="components/news/newsother-directive.js"></script>
　<script src="components/verb-conjugtion/verb-conjugtion.js"></script>
  <script src="components/google-translate/google-translate-directive.js"></script>
  <script src="components/synonyms/synonyms-directive.js"></script>
  <script src="components/report/report-directive.js"></script>
  <script src="components/focus/focus.js"></script>
  <script src="components/footer/footer-directive.js"></script>
    
  <script src="views/search/search.js"></script>
  <script src="views/news/news.js"></script>
  <script src="views/jlpt/jlpt.js"></script>
  <script src="views/note/note.js"></script>
  <script src="views/help/help.js"></script>
  <script src="views/header/header.js"></script>
  <script src="views/write/write.js"></script>
  <script src="views/about/about.js"></script>
  <script src="views/chat/chat.js"></script>
  <script src="views/term/term.js"></script>
  <script>
  	window.addEventListener('load', function() {
	    FastClick.attach(document.body);
	}, false);
  </script>

</body>
</html>
