<div class="setting-screen">
    <div class="title-setting">Tùy chỉnh</div><hr>
    <div class="content">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-change="showFurigana()" ng-model="furigana">
                <span>Hiện furigana (chữ hiragana nhỏ nằm trên chữ kanji)</span>
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-change="showSuggestSearch()" ng-model="suggest">
                <span>Bật tính năng gợi ý tìm kiếm</span>
            </label>
        </div>
    </div>
</div>