<div class="widget-container about-screen">
    <h2>Giới thiệu về Mazii</h2>

    <p class="about-head">Mazii là gì?</p>
    Mazii là từ điển tiếng Nhật dành cho người Việt Nam. Cho phép mọi người tra cứu từ điển Nhật Việt, Việt Nhật, từ điển Hán tự và tra cứu ngữ pháp tiếng Nhật một cách chính xác.<br>
    <p>Hiện nay kho dữ liệu của Mazii đang ngày càng hoàn thiện với</p>
    <ul>
        <li>Từ điển Nhật - Việt: 250.000 từ</li>
        <li>Từ điển Việt - Nhật: 100.000 từ</li>
        <li>Từ điển Kanji: 11.000 từ</li>
        <li>Từ điển ngữ pháp: 600 mẫu</li>
        <li>Từ điển mẫu câu: 75.000 mẫu</li>
    </ul>
    <p class="about-head">Sứ mệnh của Mazii</p>
    Cung cấp các công cụ hỗ trợ học tiếng Nhật tốt nhất cho người Việt Nam.

    <p class="about-head">Liên hệ</p>
    Mazii luôn nỗ lực để có thể đem lại những gì tốt nhất cho người dùng, vì vậy sẽ rất vui khi nhận được những ý kiến phản hồi của các bạn. Nếu có bất kỳ ý kiến đóng góp hoặc thắc mắc, mời bạn liên lạc với chúng tôi qua:
    <p>Email:
        <a href="mailto:support@mazii.net">support@mazii.net</a>
    </p>
    <br>
</div>